/* Hero */
/* Header */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 739px) {
  .hero--header.contact--thank-you {
    display: flex;
    max-width: none;
  }
}

/* Hero */
/* Illustrations */

/* Tablet */
@media only screen and (max-width: 738px) and (min-width: 720px) {
  .illustration.contact--cursor.thank-you {
    width: 4.25rem;
    height: 4.25rem;
    position: absolute;
    right: 2rem;
    bottom: 2em;
  }

  .illustration.contact--male.thank-you {
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    right: -7rem;
    bottom: 2rem;
  }
}

@media only screen and (max-width: 991px) and (min-width: 739px) {
  .illustration.contact--cursor.thank-you {
    width: 4.25rem;
    height: 4.25rem;
    position: absolute;
    right: 2rem;
    bottom: -5rem;
  }

  .illustration.contact--male.thank-you {
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    right: -7rem;
    bottom: -4.5rem;
  }
}
