/* Hero */
/* Header */

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .hero--header.contact--form {
    display: flex;
    max-width: 40rem;
  }
}

/* Hero */
/* Illustrations */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .illustration.contact--cursor {
    width: 4.25rem;
    height: 4.25rem;
    position: absolute;
    right: 0rem;
    bottom: -5.5rem;
  }

  .illustration.contact--male {
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    right: -9rem;
    bottom: -6.4rem;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .illustration.contact--cursor {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    right: -1.25rem;
    bottom: -3.5rem;
  }

  .illustration.contact--male {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    right: -6.25rem;
    bottom: -3rem;
  }
}
