/* Hero */
/* Text */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .description.tablet {
    display: block;
    max-width: 40rem;
  }
  .description.mobile {
    display: none;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .description.mobile {
    display: block;
  }
  .description.mobile--small {
    display: none;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 409px) {
  .description.mobile {
    display: none;
  }
}

/* Hero */
/* Illustrations */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .caption--hero {
    font-size: 5rem;
  }

  .illustration.home--hero-cursor {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: -2rem;
    left: 7.2rem;
  }

  .illustration.home--hero-male {
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    top: -4.75rem;
    left: 9.75rem;
  }

  .illustration.home--hero-female {
    width: 9rem;
    height: 9rem;
    position: absolute;
    right: -6.75rem;
    bottom: 1.35rem;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .caption--hero {
    font-size: 4rem;
  }

  .caption.cc--dashed-border {
    padding: 0.5rem 1rem;
  }

  .illustration.home--hero-cursor {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    top: -1, 25rem;
    left: 6.5rem;
  }

  .illustration.home--hero-male {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    top: -5rem;
    left: 8.6rem;
  }

  .illustration.home--hero-female {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    right: -5.1rem;
    bottom: -0.5rem;
  }
}

/* Projects */
/* Headings and Captions */

/* Tablet */
@media (min-width: 768px) {
  .heading.tablet {
    display: block;
  }

  .heading.mobile,
  .heading.mobile--small,
  .caption.mobile--small {
    display: none;
  }

  .caption.mobile {
    display: block;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 767px) and (min-width: 393px) {
  .heading.tablet,
  .caption.mobile--small,
  .heading.mobile--small {
    display: none;
  }

  .heading.mobile,
  .caption.mobile {
    display: block;
  }
}

@media only screen and (max-width: 600px) and (min-width: 414px) {
  .project--header {
    display: flex;
    max-width: 20rem;
  }
}

/* Mobile */
@media (max-width: 392px) {
  .heading.tablet,
  .heading.mobile,
  .caption.mobile {
    display: none;
  }

  .heading.mobile--small,
  .caption.mobile--small {
    display: block;
  }
}

/* Projects */
/* Illustrations */

/* Tablet */
@media only screen and (max-width: 834px) and (min-width: 768px) {
  .illustration.project--lightning {
    position: absolute;
    right: -3.5rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 720px) {
  .illustration.project--heart {
    width: 9rem;
    height: 9rem;
    position: absolute;
    top: -3.75rem;
    left: -4.5rem;
  }

  .illustration.project--lightning {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: -12.5rem;
    right: -2rem;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 719px) and (min-width: 414px) {
  .illustration.project--heart {
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    top: -3.75rem;
    left: -4.5rem;
  }

  .illustration.project--lightning {
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    top: -12.5rem;
    right: -2rem;
  }
}

/* Projects */
/* Base CSS for all CMS list items */

/* Desktop */
.w-dyn-item[cms-item^="project-"] .project--card-image {
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 480px) and (max-width: 991px) {
  .w-dyn-item[cms-item^="project-"] .project--card-image {
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .w-dyn-item[cms-item^="project-"] .project--card-image {
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

/* CMS List Items Overrides */
/* Desktop */
.w-dyn-item[cms-item="project-1"] .project--card-image {
  background-size: auto 150%;
  background-position: 30% 35%;
}

.w-dyn-item[cms-item="project-4"] .project--card-image {
  background-size: auto 135%;
  background-position: 50% 55%;
}

.w-dyn-item[cms-item="project-5"] .project--card-image {
  background-size: auto 130%;
  background-position: 50% 0%;
}

/* Tablet */
@media (min-width: 480px) and (max-width: 991px) {
  .w-dyn-item[cms-item="project-1"] .project--card-image {
    background-size: 135% auto;
    background-position: 55% 40%;
  }

  .w-dyn-item[cms-item="project-4"] .project--card-image {
    background-size: auto 135%;
    background-position: 50% 75%;
  }

  .w-dyn-item[cms-item="project-7"] .project--card-image {
    background-size: auto 110%;
    background-position: 70% 100%;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .w-dyn-item[cms-item="project-1"] .project--card-image {
    background-size: auto 130%;
    background-position: 47.5% 37.5%;
  }

  .w-dyn-item[cms-item="project-7"] .project--card-image {
    background-size: auto 110%;
    background-position: 70% 100%;
  }
}

/* Process */
/* Gap */

/* Desktop */
@media only screen and (min-width: 992px) {
  .process--list {
    gap: clamp(25rem, 50vh, 35rem); /* Adjust the values as needed */
  }
}
