/* Hero */
/* Header */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .hero--header.project--overview {
    display: flex;
    max-width: 40rem;
  }
}

/* Hero */
/* Illustrations */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .illustration.project--hero-male {
    width: 9rem;
    height: 9rem;
    position: absolute;
    top: 2.5rem;
    left: 33rem;
  }

  .illustration.project--hero-heart {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    top: 4rem;
    left: 39rem;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .illustration.project--hero-male {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    top: -9.5rem;
    left: 8.75rem;
  }

  .illustration.project--hero-heart {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -4.5rem;
    left: 14rem;
  }
}

/* Projects */
/* Base CSS for all CMS list items */

/* Desktop */
.w-dyn-item[cms-item^="project-"] .project--card-image {
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 480px) and (max-width: 991px) {
  .w-dyn-item[cms-item^="project-"] .project--card-image {
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .w-dyn-item[cms-item^="project-"] .project--card-image {
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

/* CMS List Items Overrides */
/* Desktop */
.w-dyn-item[cms-item="project-1"] .project--card-image {
  background-size: auto 150%;
  background-position: 30% 35%;
}

.w-dyn-item[cms-item="project-4"] .project--card-image {
  background-size: auto 135%;
  background-position: 50% 55%;
}

.w-dyn-item[cms-item="project-5"] .project--card-image {
  background-size: auto 130%;
  background-position: 50% 0%;
}

/* Tablet */
@media (min-width: 480px) and (max-width: 991px) {
  .w-dyn-item[cms-item="project-1"] .project--card-image {
    background-size: 135% auto;
    background-position: 55% 40%;
  }

  .w-dyn-item[cms-item="project-4"] .project--card-image {
    background-size: auto 135%;
    background-position: 50% 75%;
  }

  .w-dyn-item[cms-item="project-7"] .project--card-image {
    background-size: auto 110%;
    background-position: 70% 100%;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .w-dyn-item[cms-item="project-1"] .project--card-image {
    background-size: auto 130%;
    background-position: 47.5% 37.5%;
  }

  .w-dyn-item[cms-item="project-7"] .project--card-image {
    background-size: auto 110%;
    background-position: 70% 100%;
  }
}
