/* Hero */
/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  /* Header size */
  .hero--header.projects--overview {
    /* Size */
    display: flex; /* Ensure it's a flex container */
    max-width: 40rem;
  }

  /* Illustration size */
  .illustration.projects--hero-male {
    /* Size */
    width: 9rem;
    height: 9rem;

    /* Position */
    position: absolute;
    top: 2.5rem;
    right: auto;
    bottom: auto;
    left: 33rem;
  }

  .illustration.projects--hero-heart {
    /* Size */
    width: 6.5rem;
    height: 6.5rem;

    /* Position */
    position: absolute;
    top: 4rem;
    right: auto;
    bottom: auto;
    left: 39rem;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .illustration.projects--hero-male {
    /* Size */
    width: 6.5rem;
    height: 6.5rem;

    /* Position */
    position: absolute;
    top: -9.5rem;
    right: auto;
    bottom: auto;
    left: 8.75rem;
  }

  .illustration.projects--hero-heart {
    /* Size */
    width: 5rem;
    height: 5rem;

    /* Position */
    position: absolute;
    top: -4.5rem;
    right: auto;
    bottom: auto;
    left: 14rem;
  }
}

/* Projects */
/* Base CSS for all CMS list items */
/* Desktop */
.w-dyn-item[cms-item^="project-"] .project--image {
  background-size: auto 100%;
  /* Custom size: Auto width, 100% height */
  background-position: 50% 50%;
  /* Center position */
  background-repeat: no-repeat;
  /* No tile */
}

/* Tablet */
@media (min-width: 480px) and (max-width: 991px) {
  .w-dyn-item[cms-item^="project-"] .project--image {
    background-size: 100% auto;
    /* Custom size: Auto width, 100% height */
    background-position: 50% 50%;
    /* Center position */
    background-repeat: no-repeat;
    /* No tile */
  }
}

/* Mobile */
@media (max-width: 479px) {
  .w-dyn-item[cms-item^="project-"] .project--image {
    background-size: auto 100%;
    /* Custom size: Auto width, 100% height */
    background-position: 50% 50%;
    /* Center position */
    background-repeat: no-repeat;
    /* No tile */
  }
}

/* Overrides for individual CMS list items */
/* Desktop */
.w-dyn-item[cms-item="project-1"] .project--image {
  background-size: auto 150%;
  background-position: 35% 35%;
}

.w-dyn-item[cms-item="project-4"] .project--image {
  background-size: auto 135%;
  background-position: 50% 55%;
}

.w-dyn-item[cms-item="project-5"] .project--image {
  background-size: auto 130%;
  background-position: 50% 0%;
}

/* Tablet */
@media (min-width: 480px) and (max-width: 991px) {
  .w-dyn-item[cms-item="project-1"] .project--image {
    background-size: 135% auto;
    background-position: 55% 40%;
  }

  .w-dyn-item[cms-item="project-4"] .project--image {
    background-size: auto 135%;
    background-position: 50% 75%;
  }

  .w-dyn-item[cms-item="project-7"] .project--image {
    background-size: auto 110%;
    background-position: 70% 100%;
  }
}

/* Mobile */
@media (max-width: 479px) {
  .w-dyn-item[cms-item="project-1"] .project--image {
    background-size: auto 130%;
    background-position: 47.5% 37.5%;
  }

  .w-dyn-item[cms-item="project-7"] .project--image {
    background-size: auto 110%;
    background-position: 70% 100%;
  }
}
