/* Inputs */

/* Caret styling */
input,
textarea,
select {
  caret-color: #2f7f90; /* Color of the text cursor */
}

/* Placeholder styles */
.w-input[data-placeholder]::placeholder,
.w-select[data-placeholder]::placeholder {
  content: attr(data-current-placeholder) !important;
  transition: color 0.2s ease !important;
  color: #919191 !important;
}

.w-input[data-placeholder].hovered::placeholder,
.w-select[data-placeholder].hovered::placeholder {
  color: #13333a !important;
}

/* Custom focus style for mouse/touch */
input.w--focus,
textarea.w--focus,
select.w--focus {
  border: 2px solid #919191 !important;
  outline: 0px solid #c4c4c4 !important;
  transition: border 0.2s ease;
}

/* Custom focus style for keyboard navigation */
input.w--focus-visible,
textarea.w--focus-visible,
select.w--focus-visible {
  border: 2px solid #919191 !important;
  outline: 6px solid #c4c4c4 !important;
  transition: border 0.2s ease;
}

/* Text area */
/* Resize handling */
textarea {
  resize: vertical;
  /* Allow only vertical resizing */
  max-width: 100%;
  /* Prevent horizontal overflow */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}
