/* Buttons

/* Primary Button */
[data-button="primary"] {
  background-color: #133;
  color: #ffffff;
}

[data-button="primary"]:hover {
  background-color: #074b47;
  color: #ffffff;
}

/* Dark Button */
[data-button="dark"] {
  background-color: #1d2b2e;
  color: #ffffff;
}

[data-button="dark"]:hover {
  background-color: #0f2023;
  color: #ffffff;
}

/* Ghost Button */
[data-button="ghost"] {
  background-color: transparent;
  color: #1d2b2e;
  border: 2px solid #1d2b2e;
}

[data-button="ghost"]:hover {
  background-color: transparent;
  color: #0f2023;
  border: 2px solid #0f2023;
}

/* Secondary Button */
[data-button="secondary"] {
  background-color: #ffd446;
  color: #1d2b2e;
}

[data-button="secondary"]:hover {
  background-color: #ffc107;
  color: #1d2b2e;
}

/* No BG Button */
[data-button="no-bg"] {
  background-color: transparent;
  color: #1d2b2e;
}

[data-button="no-bg"]:hover {
  background-color: transparent;
  color: #0f2023;
}

/* Contact Button */
[data-button="contact"] {
  background-color: #eaa820;
  color: #ffffff;
}

[data-button="contact"]:hover {
  background-color: #d99716;
  color: #ffffff;
}

/* Input - Text area */
/* Resize handling */
textarea {
  resize: vertical;
  /* Allow only vertical resizing */
  max-width: 100%;
  /* Prevent horizontal overflow */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

/* Selected text has custom background color */
::-moz-selection {
  /* Code for Firefox */
  color: #13333a;
  background: #5999a6;
}

::selection {
  color: #13333a;
  background: #5999a6;
}

/* Hide blue highlight when moving to a section */
:focus {
  outline: none;
}

/* Disable glossy effect safari adds on select elements */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
