/* GSAP Marquee */
/* CSS Animation for Mobile */
@keyframes marquee {
  0% {
    transform: translateX(0);
    /* Start position */
  }

  100% {
    transform: translateX(calc(-1 * var(--marquee-width)));
    /* End position */
  }
}

.marquee--track {
  display: flex;
  /* Flex container */
  will-change: transform;
  /* Optimize for performance */
}

.marquee-animate {
  animation: marquee var(--marquee-duration) linear infinite;
  /* Animation settings */
  -webkit-animation: marquee var(--marquee-duration) linear infinite;
  /* Vendor prefix for WebKit */
  -moz-animation: marquee var(--marquee-duration) linear infinite;
  /* Vendor prefix for Mozilla */
  -o-animation: marquee var(--marquee-duration) linear infinite;
  /* Vendor prefix for Opera */
}

/* Projects */
/* CMS list - Alternate direction per item */
@media (min-width: 992px) {
  /* Even items: reverse the direction */
  .project--list .w-dyn-item:nth-child(even) .project--card {
    display: flex;
    flex-direction: row-reverse;
    /* Reverse the order */
  }

  /* Ensure the internal content remains left-to-right */
  .project--list .w-dyn-item:nth-child(even) .project--image,
  .project--list .w-dyn-item:nth-child(even) .project--about {
    direction: ltr;
    /* Maintain normal text direction */
  }
}
