:root {
  --marquee-duration: 10s;
}

.marquee--track {
  display: flex;
  animation: marquee var(--marquee-duration) linear infinite;
  will-change: transform; /* Optimize for animations */
}

.marquee--list {
  display: flex;
  flex-shrink: 0; /* Prevent shrinking of items */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Tablet */
@media (max-width: 991px) {
  :root {
    --marquee-duration: 25s;
  }
}

/* Mobile */
@media (max-width: 767px) {
  :root {
    --marquee-duration: 25s;
  }
}
