/* Hero */
/* Section */

/* Desktop - Vertical Monitor */
@media (min-height: 1800px) {
  .section--hero.is--contact {
    padding-top: 15vh;
  }
}

/* Hero */
/* Text */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .display--small {
    font-size: 8rem;
  }

  .description.tablet {
    display: block;
  }

  .description.mobile {
    display: none;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .header.is--contact-form {
    display: flex;
    max-width: 40rem;
  }
  .description.tablet {
    display: block;
    max-width: 20rem;
  }
  .description.mobile {
    display: none;
  }
}

/* Hero */
/* Illustrations */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .illustration.contact--cursor {
    width: 4.25rem;
    height: 4.25rem;
    position: absolute;
    right: 2rem;
    bottom: -4.5rem;
  }

  .illustration.contact--male {
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    right: -7rem;
    bottom: -4.5rem;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .illustration.contact--cursor {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: -2.75rem;
    bottom: -2.75rem;
  }

  .illustration.contact--male {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    right: -7.25rem;
    bottom: -1.5rem;
  }
}
