/* Hero */
/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  /* Illustration size */
  .illustration.contact--cursor.thank-you {
    /* Size */
    width: 4.25rem;
    height: 4.25rem;

    /* Position */
    position: absolute;
    top: auto;
    right: 0rem;
    bottom: -5.5rem;
    left: auto;
  }

  .illustration.contact--male.thank-you {
    /* Size */
    width: 9.5rem;
    height: 9.5rem;

    /* Position */
    position: absolute;
    top: auto;
    right: -9rem;
    bottom: -6.4rem;
    left: auto;
  }
}
