/* Hero */
/* Text */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .description.tablet {
    display: block;
  }
  .description.mobile {
    display: none;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .header.contact--form {
    display: flex;
    max-width: 40rem;
  }
  .description.tablet {
    display: block;
    max-width: 20rem;
  }
  .description.mobile {
    display: none;
  }
}

/* Hero */
/* Illustrations */

/* Tablet */
@media only screen and (max-width: 991px) and (min-width: 720px) {
  .illustration.contact--cursor {
    width: 4.25rem;
    height: 4.25rem;
    position: absolute;
    right: 2rem;
    bottom: -4.5rem;
  }

  .illustration.contact--male {
    width: 9.5rem;
    height: 9.5rem;
    position: absolute;
    right: -7rem;
    bottom: -4.5rem;
  }
}

/* Mobile, Large */
@media only screen and (max-width: 479px) and (min-width: 410px) {
  .illustration.contact--cursor {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    right: -0.3rem;
    bottom: -3.5rem;
  }

  .illustration.contact--male {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    right: -5rem;
    bottom: -3rem;
  }
}
